#petProgress{
    position: relative;
    width: 420px;
    height: 30px;
    background-color: silver;
}
#petBar{
    position: absolute;
    width: 42%;
    height: 100%;
    background-color: #4caf50;
}
#label{
    text-align: center;
    line-height: 30px;
    color: #ddd;
}
button{
    border-radius: 4px;
    background-color: #d7bf5a;
    border: 2px solid #000000;
    margin: 5px 5px 0px 0px;
}
img{
    width: 420px;
    height: auto;
}
.hidden-block{
    display: none;
    color: firebrick;
}
